*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
}
#nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#nav-part1{
    display: flex;
    justify-content: space-between;
    width: 45%;
    padding: 50px 60px;
    font-weight: 600;

}
#nav-part2{
    display: flex;
}
#nav-part2 h3{
    display: flex;
    padding: 50px 60px;
    font-weight: 600;
}
#content{
    padding: 40px 65px; 
    margin-top: 60px;

}
#content h3{
    font-size: 40px;
    font-weight: 600;
}
#content h1{
    font-size: 130px;
    font-weight: 500;
    line-height: 120px;
    margin-top: 50px;
}
#case{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 65px;
}
#case h4{
    font-size: 25px;
}
#right{
    display: flex;
    align-items: center;
    
}
#right h5{
    font-size: 25px;
}
#line{
    height: 3px;
    width: 120px;
    background-color: rgb(157, 173, 173);
    margin-right:25px;
}
#projects{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 65px;
    gap: 60px;
}
.elem{
    width: 50%;
}
.elem-img{
    background-color: rgb(195, 212, 218);
    height: 700px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
}
#img1{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNwF5ZevpzR4_ePBq9R924R2V5t38vziHHww&s");

}
#img2{
    background-image: url("https://media.istockphoto.com/id/1332096873/vector/audio-player-ui-video-media-ux-interface-template-app-icons-garish-vector-web-design.jpg?s=612x612&w=0&k=20&c=5vt6PeTu2y1hTfK_c9rEdB6xlu3l0s-Twu2OKnGRsXE=") ;
}
.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}
.bottom i{
    padding: 15px 30px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 50px;
}
.bottom i:hover{
    background-color: black;
    color: aliceblue;
}